<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>API TEST</title>
    <style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
	</style>
</head>
<body>
<div>
    <form method="POST" action="/api/return">
        <table>
            <tr><th>POST</th><th>/api/return</th></tr>
            <tr><td>store</td><td>
                <select name="store">
                    <option value="ssg">ssg</option>
                    <option value="cjonstyle">cjonstyle</option>
                    <option value="etc">etc</option>
                </select>
            </td></tr>
            <tr><td>code</td><td><input type="text" name="code"></td></tr>
            <tr><td></td><td><input type="submit" value="호출" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>